# Python related
*.pyc
__pycache__/
*.egg-info
dist/
build/
.coverage
htmlcov/
.eggs/

# Editor related
*.swp
*.swo
*~
.~lock.*

# Git related
*.orig

# Tags
tags
.notags
.gutctags

# Miscellaneous
.envrc
