repos:
  # - repo: https://github.com/pre-commit/pre-commit-hooks
  #   rev: v2.1.0
  #   hooks:
  #   -   id: trailing-whitespace
  #   -   id: end-of-file-fixer
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        types: [python]
        language: system
        require_serial: true
      - id: flake8
        name: flake8
        entry: flake8
        types: [python]
        language: system
        require_serial: true
      - id: isort
        name: isort
        entry: isort
        types_or: [cython, pyi, python]
        language: system
        require_serial: true
        args: ['--filter-files']
